@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@400;500;600&display=swap");

.App {
  font-family: "IBM Plex Sans KR", sans-serif;
  max-width: 1200px;
  min-width: 800px;
  width: 100%;
  margin: 20px auto;
  border-radius: 10px;
  border: 1px solid gray;
  padding: 20px;
}
